<h1>
  <%= @topic.title %> 
  <%= link_to "Edit", edit_topic_path, class: "btn btn-success" %>
  <%= link_to "Delete", @topic, method: :delete, class: "btn btn-danger", data:{confirm: "Are you sure to delete this topic?"} %>
</h1>
<%= render @topic.bookmarks %>